@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bgImg {
  background-image: url('../asset/img/imagHeaderAboutPage.png');

}

.bgImgMobile {
  background-image: url('../asset/img/imageHeaderAboutMobilePage.png');

}

.bgImageContactUs {
  background-image: url('../asset/img/backgroundcontactus.png');
}

.bgImageContactUsTablate {
  background-image: url('../asset/img/backgroundcontactusTablet.png');
}

.bgImageContactUsMobile {
  background-image: url('../asset/img/backgroundcontactusMobile.png');
}

.bgImageContactUsMap {
  background-image: url('../asset/img/mapContact.png');

}

.backgrounpanleseel {
  background-image: url("../asset/img/backgroundtable.png");
}

/* The animation code */
@keyframes animatiodown {
  0% {
    height: 80px;
    background-color: #14A39A;
  }

  100% {
    height: 214px;
  }
}

@keyframes animatiup {
  0% {
    height: 214px;
  }

  100% {
    height: 77px;
  }
}

@keyframes showchild {
  0% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}

/* The element to apply the animation to */
.dropDown {
  animation-name: animatiodown;
  animation-duration: 1s;
}

.dropUp {
  animation-name: animatiup;
  animation-duration: 1s;
}

.showchild {
  animation-name: showchild;
  animation-duration: 3s;
}